.Announcement {
  background-color: rgba(110, 109, 109, 0.2);
  display: inline-table;
  margin: 20px;
  border-radius: 16px;
  width: 22%;
  height: 25%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
}
